@model IEnumerable<Faculty.Models.AppUser>

<div>
    <a asp-action="Create">Create Admin</a>
</div>
<div>
    <a asp-controller="Role" asp-action="Index">Manage Roles</a>
</div>

<hr />
<h2>Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AppUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <div class="row">
                        <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Update</a>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

